<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">fragrance</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button>LANÇAMENTOS</a>
    <a mat-button>NOSSOS PERFUMES</a>
    <a mat-button>COLEÇÕES</a>
    <a mat-button>SOBRE</a>
  </nav>
  <span class="spacer"></span>
  <button mat-icon-button><mat-icon>buscar</mat-icon></button>
  <button mat-icon-button><mat-icon>favorito</mat-icon></button>
  <button mat-icon-button><mat-icon>perfil</mat-icon></button>
  <button mat-icon-button><mat-icon>carrinho</mat-icon></button>
</mat-toolbar>