<mat-toolbar class="header-toolbar" color="primary">
  <div class="logo">
    <img [ngSrc]="fragranceUrl" height="45" width="157" alt=""/>
  </div>
  <nav>
    <a href="#" mat-button>LANÇAMENTOS</a>
    <a href="#" mat-button>NOSSOS PERFUMES</a>
    <a href="#" mat-button>COLEÇÕES</a>
    <a href="#" mat-button>SOBRE</a>
  </nav>
  <div class="nav-actions">
    <a href="#"> <img [ngSrc]="searchIcon" class="nav-icon" alt="" width="20" height="20"/></a>
    <a href="/admin/login"> <img [ngSrc]="userIcon" class="nav-icon" alt="" width="20" height="20"/></a>
    <button class="add-shoppingcart" (click)="mostrarSacola()">
      @if (totalDeItensNoCarrinho() > 0) {
        <div [matBadge]="totalDeItensNoCarrinho()"  class="demo-section">
          <img [ngSrc]="shoppingBagIcon" class="nav-icon" width="20" height="20" alt=""/>
        </div>
      }
      @else {
        <img [ngSrc]="shoppingBagIcon" class="nav-icon" width="20" height="20" alt=""/>
      }
    </button>
  </div>
</mat-toolbar>
