.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 32.22px;
  width: 112px;
}

nav a {
  margin: 0 12px;
  color: #000;
  font-size: 16px;
}

mat-icon {
  color: #000;
}
