<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo">
    <img [ngSrc]="fragranceUrl" width="157" height="45" />
  </div>
  <nav>
    <a href="#" mat-button>LANÇAMENTOS</a>
    <a href="#" mat-button>NOSSOS PERFUMES</a>
    <a href="#" mat-button>COLEÇÕES</a>
    <a href="#" mat-button>SOBRE</a>
  </nav>
  <div class="nav-actions">
    <a href="#"> <img [src]="searchIcon" class="nav-icon" /></a>
    <a href="#"> <img [src]="userIcon" class="nav-icon" /></a>
    <a href="#"> <img [src]="shoppingBagIcon" class="nav-icon" /></a>
  </div>
</mat-toolbar>