<div class="produtos-container">
    <div class="produtos-container-name">
        <h1>Produtos</h1>
    </div>
    <div class="lista-container-name">
        <p>Lista de Perfumes</p>
    </div>
    
    <div class="actions-header">
        <mat-form-field >
            <input matInput placeholder="Buscar produto">
        </mat-form-field> 

        <button mat-raised-button class="">
            Adicionar novo produto
        </button>
    </div>

    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
        
    </mat-paginator>
</div>
