<div class="produtos-container">
    <div class="produtos-container-name">
        <h1>Produtos</h1>
    </div>
    <div class="lista-container-name">
        <p>Lista de Perfumes</p>
    </div>
    
    <div class="actions-header">
        <mat-form-field >
            <input matInput placeholder="Buscar produto">
        </mat-form-field> 

        <button mat-raised-button class="">
            Adicionar novo produto
        </button>
    </div>

    <div>
        <table mat-table [dataSource]="dataSource">
            <!-- <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let produto"> {{produto.name}} </td>
            </ng-container>
            <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let produto"> {{produto.brand}} </td>
            </ng-container>
             -->
            @for (coluna of displayedColumns; track coluna){
                <ng-container [matColumnDef]="coluna">
                    <th mat-header-cell *matHeaderCellDef> {{coluna}} </th>
                    <td mat-cell *matCellDef="let produto"> {{produto[coluna]}} </td>
                </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div>
        <mat-paginator [length]="100"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
        </mat-paginator>
    </div>
    
</div>
