
.produtos-container {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.actions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-product-btn {
  background-color: black;
  color: white;
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-inactive {
  color: gray;
  font-weight: bold;
}

/* td.mat-cell {
  vertical-align: middle;
}

td.mat-cell button {
  margin-right: 8px;
} */

