<div class="container">
    <div class="login">
        <h1 class="logo">fragrance</h1>

        <div class="container-login">
            <h2>Acesse sua conta</h2>
            <p>Bem-vindo de volta! Por favor, insira os seus dados para entrar.</p>

            <form action="">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" required/>
                </mat-form-field>
            </form>
            <div class="reset-password">
                <a href="#">Esqueceu sua Senha?</a>
            </div>
            <div class="button">
                <button mat-flat-button>Entrar</button>
            </div>
            <div class="footer">
                <footer>&copy; Fragrance 2025</footer>
            </div>
        </div>
    </div>
    <div class="cover">
        img
        <!-- <img [ngSrc]="coverUrl" > -->
    </div>
</div>