<footer class="footer-container">
  <div class="footer">
    <div class="footer-section">
      <div class="logo">
        <img [ngSrc]="fragranceUrl" height="45" width="157"/>
      </div>
      <p class="footer-slogan fonte-pequena">
        Fragrâncias exclusivas criadas para evidenciar sua individualidade e
        presença.
      </p>
    </div>

    <div class="footer-section">
      <h4>NAVEGAÇÃO</h4>
      <ul>
        <li><a class="fonte-pequena" href="#">Home</a></li>
        <li><a class="fonte-pequena" href="#">Nossos Perfumes</a></li>
        <li><a class="fonte-pequena" href="#">Coleções</a></li>
        <li><a class="fonte-pequena" href="#">Sobre</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>AJUDA</h4>
      <ul>
        <li><a class="fonte-pequena" href="#">Contato</a></li>
        <li><a class="fonte-pequena" href="#">Perguntas Frequentes</a></li>
        <li><a class="fonte-pequena" href="#">Política de Devolução</a></li>
        <li><a class="fonte-pequena" href="#">Privacidade</a></li>
      </ul>
    </div>

    <div class="footer-section newsletter">
      <h4>NEWSLETTER</h4>
      <p class="fonte-pequena">Receba Novidades e Ofertas Exclusivas</p>
      <form class="newsletter-form">
        <input class="newsletter-input fonte-pequena" placeholder="Digite seu e-mail" type="email"/>
        <button class="newsletter-button" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <div class="footer-copy">
    <p>©Fragrance 2025. Todos os direitos reservados.</p>
  </div>
</footer>
