<div class="container-delete">
  <div class="container-pergunta">
    <h2 class="pergunta" mat-dialog-title>Deletar produto?</h2>
  </div>
  <mat-dialog-content class="container-dialog">
    <div class="conatiner-texto">
      <p>Tem certeza que deseja excluir o perfume <strong>{{ data.nome }}</strong>?</p>
      <p>Esta ação não pode ser desfeita.</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="container-opcoes">
    <button (click)="onCancel()" class="botao-cancelar" mat-button>Cancelar</button>
    <button (click)="onDelete()" class="botao-deletar" color="warn" mat-raised-button>Deletar</button>
  </mat-dialog-actions>
</div>
