<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-contet">
      <div class="logo-container">
        <a routerLink="/">
          <img src="assets/Header.png" alt="Logo" class="logo-image" />
        </a>
      </div>

      <mat-nav-list class="mat-nav-list">
        <a mat-list-item routerLink="/home">
          <span>Home</span>
        </a>
        <a mat-list-item routerLink="/home">
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/home">
          <span>Vendas</span>
        </a>
        <a mat-list-item routerLink="/home">
          <span>Produtos</span>
        </a>
        <a mat-list-item routerLink="/home">
          <span>Usuários</span>
        </a>
      </mat-nav-list>

      <div class="user-profile">
        <div class="profile-pic">
          <img src="assets/profile.jpg" alt="Perfil" />
        </div>
        <div class="user-info"></div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
