.user-profile {
  padding: 16px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid #f0f0f0;
  gap: 12px;
}

.profile-pic,
.profile-pic img {
  border-radius: 50%;
}

.user-info {
  font-size: 14px;
}

.user-info p {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.user-info span {
  font-size: 14px;
  color: #767676;
}