<div class="sidebar-dialog">
  <div class="cart-header">
    <h2>Sacola de Compras</h2>
    <button (click)="close()">Fechar</button>
  </div>

  <div class="content">
    <div *ngIf="items().length === 0" class="cart-empty">
      <p>Sua sacola está vazia</p>
      <button class="button button-outline" (click)="close()">Continuar comprando</button>
    </div>

    <div *ngIf="items().length > 0" class="cart-items">
      <div *ngFor="let item of items()" class="cart-items-container">
        <app-item-carrinho [item]="item"  ></app-item-carrinho>
      </div>

      <div class="cart-summary">
        <div class="total">
          <span>Subtotal</span>
          <span>{{ precoTotal() | currency:'BRL' }}</span>
        </div>
        <button class="button button-primary">Finalizar compra</button>
        <button class="button button-outline" (click)="close()">Continuar comprando</button>
        <button class="button button-terciary" (click)="limparSacola()">Limpar sacola</button>
      </div>
    </div>
  </div>
</div>
