<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-contet">
      <div class="logo-container">
        <a routerLink="/">
          <img
            src="../../../../assets/Header.png"
            alt="Logo"
            class="logo-image"
          />
        </a>
      </div>

      <mat-nav-list class="mat-nav-list">
        @for ( link of links; track link) {
        <a mat-list-item [routerLink]="link.path">
          <span>{{ link.label }}</span>
        </a>
        }
      </mat-nav-list>
      <app-profile />
    </div>
  </mat-sidenav>
</mat-sidenav-container>
