.sidenav-container {
  height: 100vh;
  display: flex;
}

.sidenav {
  display: flex;
  /* width: 312px; */
  border-right: 1px solid #e0e0e0;
  border-radius: 0%;
  justify-content: space-between;
}

.sidenav-contet {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-container a {
  padding: 8px;
  display: flex;
  align-items: start;
  width: 80%;
}

.logo-image {
  width: 100%;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 16px;
  flex: 1;
}

.mat-list-item a {
  display: flex;
  gap: 10px;
}

.mat-nav-list a {
  border-radius: 0;
}
